imports:
- path: vm-template.jinja

resources:
- name: deployment-vm
  type: vm-template.jinja
  properties:
    cbd_version: {{ $VERSION }}
    startup-script: https://raw.githubusercontent.com/hortonworks/cbd-quickstart/{{ $VERSION }}/install-and-start-cbd.sh
    region: us-central1
    zone: us-central1-a
    instance_type: n1-standard-4
    source_image: {{ $CENTOS_CLOUD_IMAGE_NAME }}
    ssh_pub_key: "{{ $SSH_KEY }}"
    os_user: cloudbreak
    user_email: admin@example.com
    user_password: cloudbreak
    service_account_email: {{ $GCP_ACCOUNT_EMAIL }}

outputs:
- name: deploymentIp
  value: $(ref.deployment-vm.deploymentIp)