imports:
- path: vm-template.jinja

resources:
- name: deployment-vm
  type: vm-template.jinja
  properties:
    cbd_version: 2.8.0-dev.194
    startup-script: https://raw.githubusercontent.com/hortonworks/cbd-quickstart/2.8.0-dev.194/install-and-start-cbd.sh
    region: us-central1
    zone: us-central1-a
    instance_type: n1-standard-4
    source_image: centos-7-v20180523
    ssh_pub_key: ...
    os_user: cloudbreak
    user_email: admin@example.com
    user_password: cloudbreak
    service_account_email: ...

outputs:
- name: deploymentIp
  value: $(ref.deployment-vm.deploymentIp)